Michael Gutowski
Jack Fiengo

In [16]:
import pandas as pd
df_train = pd.read_csv('Giannis2021-22.csv')
df_test = pd.read_csv('Giannis2022-23.csv')

In [17]:
df_train.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,10/19/2021,26-317,MIL,NaN,BRK,W (+23),1,30:57:00,...,9,14,7,1,2,4,4,32,26.4,25
1,2,2,10/21/2021,26-319,MIL,@,MIA,L (-42),1,22:48,...,9,10,2,3,0,2,3,15,11.9,-25
2,3,3,10/23/2021,26-321,MIL,@,SAS,W (+10),1,30:24:00,...,8,8,8,0,3,5,4,21,16.0,19
3,4,4,10/25/2021,26-323,MIL,@,IND,W (+10),1,36:16:00,...,9,10,9,1,2,2,2,30,29.5,14
4,5,5,10/27/2021,26-325,MIL,NaN,MIN,L (-5),1,34:53:00,...,12,16,7,0,3,2,1,40,40.1,9

In [18]:
df_test.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,10/20/2022,27-318,MIL,@,PHI,W (+2),1,36:05:00,...,13,13,8,1,3,1,4,21,22.2,13
1,2,2,10/22/2022,27-320,MIL,NaN,HOU,W (+20),1,27:38:00,...,10,12,3,0,0,4,2,44,35.8,23
2,3,3,10/26/2022,27-324,MIL,NaN,BRK,W (+11),1,37:52:00,...,12,14,5,1,3,7,4,43,33.3,5
3,4,4,10/28/2022,27-326,MIL,NaN,NYK,W (+11),1,38:55:00,...,14,14,9,1,1,2,0,30,27.6,27
4,5,5,10/29/2022,27-327,MIL,NaN,ATL,W (+8),1,32:37:00,...,12,17,4,0,1,2,4,34,26.8,-10

In [19]:
df_train.rename(columns={'Unnamed: 5': 'Home/Away'}, inplace=True)
df_train.rename(columns={'Unnamed: 7': 'Spread'}, inplace=True)
df_train["Home/Away"].replace({"@": "Away"}, inplace=True)
df_train["Home/Away"].fillna("Home", inplace=True)
df_train.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,Spread,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,10/19/2021,26-317,MIL,Home,BRK,W (+23),1,30:57:00,...,9,14,7,1,2,4,4,32,26.4,25
1,2,2,10/21/2021,26-319,MIL,Away,MIA,L (-42),1,22:48,...,9,10,2,3,0,2,3,15,11.9,-25
2,3,3,10/23/2021,26-321,MIL,Away,SAS,W (+10),1,30:24:00,...,8,8,8,0,3,5,4,21,16.0,19
3,4,4,10/25/2021,26-323,MIL,Away,IND,W (+10),1,36:16:00,...,9,10,9,1,2,2,2,30,29.5,14
4,5,5,10/27/2021,26-325,MIL,Home,MIN,L (-5),1,34:53:00,...,12,16,7,0,3,2,1,40,40.1,9

In [20]:
df_test.rename(columns={'Unnamed: 5': 'Home/Away'}, inplace=True)
df_test.rename(columns={'Unnamed: 7': 'Spread'}, inplace=True)
df_test["Home/Away"].replace({"@": "Away"}, inplace=True)
df_test["Home/Away"].fillna("Home", inplace=True)
df_test.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,Spread,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,10/20/2022,27-318,MIL,Away,PHI,W (+2),1,36:05:00,...,13,13,8,1,3,1,4,21,22.2,13
1,2,2,10/22/2022,27-320,MIL,Home,HOU,W (+20),1,27:38:00,...,10,12,3,0,0,4,2,44,35.8,23
2,3,3,10/26/2022,27-324,MIL,Home,BRK,W (+11),1,37:52:00,...,12,14,5,1,3,7,4,43,33.3,5
3,4,4,10/28/2022,27-326,MIL,Home,NYK,W (+11),1,38:55:00,...,14,14,9,1,1,2,0,30,27.6,27
4,5,5,10/29/2022,27-327,MIL,Home,ATL,W (+8),1,32:37:00,...,12,17,4,0,1,2,4,34,26.8,-10

In [21]:
df_train['W/L'] = df_train['Spread'].str.extract('([W|L])', expand=True)
df_test['W/L'] = df_test['Spread'].str.extract('([W|L])', expand=True)
df_train.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,Spread,GS,MP,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,W/L
0,1,1,10/19/2021,26-317,MIL,Home,BRK,W (+23),1,30:57:00,...,14,7,1,2,4,4,32,26.4,25,W
1,2,2,10/21/2021,26-319,MIL,Away,MIA,L (-42),1,22:48,...,10,2,3,0,2,3,15,11.9,-25,L
2,3,3,10/23/2021,26-321,MIL,Away,SAS,W (+10),1,30:24:00,...,8,8,0,3,5,4,21,16.0,19,W
3,4,4,10/25/2021,26-323,MIL,Away,IND,W (+10),1,36:16:00,...,10,9,1,2,2,2,30,29.5,14,W
4,5,5,10/27/2021,26-325,MIL,Home,MIN,L (-5),1,34:53:00,...,16,7,0,3,2,1,40,40.1,9,L

In [22]:
data_columns = ['Home/Away', 'PTS', 'AST', 'STL', 'BLK', 'TOV', 'FG%']
x_train = df_train[data_columns]
x_test = df_test[data_columns]
y_train = df_train['W/L']
y_test = df_test['W/L']

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x_train['Home/Away'] = le.fit_transform(x_train['Home/Away'])
y_train = le.fit_transform(y_train)
x_test['Home/Away'] = le.fit_transform(x_test['Home/Away'])
y_test = le.fit_transform(y_test)

C:\Users\micha\AppData\Local\Temp\ipykernel_25096\2517472981.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train['Home/Away'] = le.fit_transform(x_train['Home/Away'])
C:\Users\micha\AppData\Local\Temp\ipykernel_25096\2517472981.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['Home/Away'] = le.fit_transform(x_test['Home/Away'])

In [27]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=1)
rfc.fit(x_train, y_train)

RandomForestClassifier(random_state=1)

In [28]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, rfc.predict(x_test))

0.25396825396825395